<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Dish #<%= @dish.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/dishes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_dish/<%= @dish.id %>" class="btn btn-block btn-outline-secondary">
          Delete dish
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @dish.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @dish.description %>
      </dd>

      <dt>
        Cuisine
      </dt>
      <dd>
        <%= @dish.cuisine_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@dish.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@dish.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit dish
    </h2>

    <form action="/modify_dish/<%= @dish.id %>"  method="post" >
      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control" value="<%= @dish.name %>">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" class="form-control" value="<%= @dish.description %>">
      </div>

      <div class="form-group">
        <label for="cuisine_id_box">
          Cuisine
        </label>

        <input type="text" id="cuisine_id_box" name="query_cuisine_id" class="form-control" value="<%= @dish.cuisine_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update dish
      </button>
    </form>
  </div>
</div>

<hr>
